<ion-view title="Page" hide-nav-bar="true" id="page6">
  <ion-content padding="false" class=" manual-remove-top-padding">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="page-slider1" style="width:100%;height:50%;">
      <ion-slide-page id="page-slide24" style="background-color:#3142C5;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/YxGKCHAzSaSeuGCK6gHq_gen-z.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page-slide25">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/SEJpSdcRfifMMNzJzDKG_b8c3e5bac767d464cf537c6be2ba14f5.jpg" style="display: block; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
    <a ui-sref="mOBILEAPPSTRAINING()" id="page-button13" class="button button-positive button-block">Start!</a>
  </ion-content>
</ion-view>